<include file="./Public/public_header" />
<div class="main-container container" id="main-container">
	<include file="./Public/public_left" />
	<div class="main-content">
		<div class="main-content-inner">
			<div class="breadcrumbs" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<a href="#">后台首页</a>
					</li>
					<li>
						<if condition="$cateInfo['id'] eq ''"> 添加分类 <else /> 编辑分类</if>
					</li>
					<if condition="$cateInfo['id'] neq ''">
						<li>
							<!--{$cateInfo['title']}-->
						</li>
					</if>
				</ul>
				<div class="nav-search" id="nav-search">
				</div>
			</div>
			<div class="page-content" style="min-height:600px;padding:10px 0px;">
				<div class="col-xs-12">
					<div class="row" style="margin:0px;">
						<form method="post" name="cateInfo" id="cateInfo">
							<div class="form-horizontal table-bordered" style="padding:10px;">
								<input type="hidden" name="id" value="<!--{$cateInfo['id']}-->" id="cateId" />
								<if condition="$cateInfo['id'] neq ''">
									<input type="hidden" name="module_id" value="<!--{$cateInfo['module_id']}-->" id="moduleId" />
								</if>
								<input type="hidden" name="ctime" value="<!--{:time();}-->" id="ctime" />

								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 分类标题： </label>
									<div class="col-sm-10">
										<input type="text" id="title" name="title" value="<!--{$cateInfo['title']}-->" placeholder="分类标题" class="col-sm-12">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 副标题： </label>
									<div class="col-sm-10">
										<input type="text" id="sub_title" name="sub_title" value="<!--{$cateInfo['sub_title']}-->" placeholder="副标题" class="col-sm-12">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 分类标识串： </label>
									<div class="col-sm-10">
										<input type="text" id="code" name="code" value="<!--{$cateInfo['code']}-->" placeholder="分类标识串" class="col-sm-12">
									</div>
								</div>

								<if condition="$cateInfo['id'] eq ''">
									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 模块类型： </label>
										<div class="col-sm-3">
											<select id="moduleId" class="form-control" name="module_id">
												<volist name="dataList" id="mlist">
													<option value="<!--{$mlist['id']}-->"><!--{$mlist['title']}--></option>
												</volist>
											</select>
										</div>
									</div>
								</if>

								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 分类类型： </label>
									<div class="col-sm-3">
										<select id="parentId" class="form-control" name="parent_id">
											<option value="0">父分类</option>
											<if condition="$parentCateList neq ''">
												<if condition="$cateInfo['parent_id'] neq '0'">
												<volist name="parentCateList" id="list">
													<option <if condition="$list['id'] eq $cateInfo['parent_id']"> selected </if> value="<!--{$list['id']}-->">&nbsp;&nbsp;&nbsp;&nbsp;<!--{$list['title']}--></option>
													<catelist id="vlist" code="$list['code']">
													<option <if condition="$vlist['id'] eq $cateInfo['parent_id']"> selected </if> value="<!--{$vlist['id']}-->">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--{$vlist['title']}--></option>
													</catelist>
												</volist>
												</if>
											</if>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 分类简述： </label>

									<div class="col-sm-10">
										<textarea id="note" name="note" placeholder="分类简述" class="col-sm-12" style="padding:0px;"><!--{$cateInfo['note']}--></textarea>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 分类图标： </label>
									<div class="col-sm-8">
										<input type="text" id="cateIco" value="<!--{$cateInfo['ico']}-->" name="ico" placeholder="分类图标" class="col-sm-10">
										<button class="btn btn-xs btn-info" type="button"  style="padding-top:3px;" imageId="cateIco" uploadType="imageOne" id="insertIco">
											<i class="ace-icon fa fa-pencil-square-o bigger-110"></i>
											选择图片
										</button>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 分类小图： </label>
									<div class="col-sm-8">
										<input type="text" id="cateSmall" value="<!--{$cateInfo['small_pic']}-->" name="small_pic" placeholder="分类小图" class="col-sm-10">
										<button class="btn btn-xs btn-info" type="button"  style="padding-top:3px;" imageId="cateSmall" uploadType="imageOne" id="insertSmall">
											<i class="ace-icon fa fa-pencil-square-o bigger-110"></i>
											选择图片
										</button>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 分类大图： </label>
									<div class="col-sm-8">
										<input type="text" id="cateBig" value="<!--{$cateInfo['big_pic']}-->" name="big_pic" placeholder="分类大图" class="col-sm-10">
										<button class="btn btn-xs btn-info" type="button"  style="padding-top:3px;" imageId="cateBig" uploadType="imageOne" id="insertBig">
											<i class="ace-icon fa fa-pencil-square-o bigger-110"></i>
											选择图片
										</button>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> SEO标题： </label>
									<div class="col-sm-8">
										<input type="text" id="seoTitile" value="<!--{$cateInfo['seo_title']}-->" name="seo_title" placeholder="SEO标题" class="col-sm-12" />
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> SEO关键词： </label>
									<div class="col-sm-8">
										<input type="text" id="seoKeyword" value="<!--{$cateInfo['seo_keyword']}-->" name="seo_keyword" placeholder="SEO关键词" class="col-sm-12" />
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> SEO描述： </label>
									<div class="col-sm-8">
										<input type="text" id="seoDesc" value="<!--{$cateInfo['seo_desc']}-->" name="seo_desc" placeholder="SEO描述" class="col-sm-12" />
									</div>
								</div>

							<!--	<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 是否关闭： </label>
									<div class="col-sm-8" style="margin-top:5px;">
										<label class="pos-rel">
											<input type="checkbox" id="targetCheck" name="status" <if condition="$cateInfo['status'] eq '1'"> checked </if>  value="&lt;!&ndash;{$cateInfo['status']}&ndash;&gt;" class="ace">
											<span class="lbl"></span>
										</label>
									</div>
								</div>-->

								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 分类排序： </label>
									<div class="col-sm-8">
										<input type="text" id="sort" value="<!--{$cateInfo['sort']}-->" name="sort" placeholder="不填默认为0" class="col-sm-10">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="form-field-1">  </label>

									<div class="col-sm-10">
										<p id="submitCateEdit" class="btn btn-xs btn-info">
											<i class="ace-icon fa fa-check icon-on-right"></i>
											确认提交
										</p>
									</div>
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	.navTypeList{width:auto;height:26px;overflow:hidden;margin-top:3px;}
	.navTypeList li {background:#fff;float:left;height:26px;padding:0px 15px;line-height:26px;margin-right:15px;border:1px solid #dcdcdc;cursor: pointer;color:#333;}
	.navTypeList li.on{background:#4f99c6;color:#fff;border:#6fb3e0;}
</style>
<script>
	$(function(){
		var cateEdit = new CateEdit();
		var loadUeditor = new UeditorCommon();
		loadUeditor.loadUeditorSmall("note",700,150);
		cateEdit.init();
	});
</script>
<include file="./Public/public_footer" />

