<include file="./Public/public_header" />
<div class="main-container container" id="main-container">
	<include file="./Public/public_left" />
	<div class="main-content">
		<div class="main-content-inner">
			<div class="breadcrumbs" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<a href="#">后台首页</a>
					</li>

					<li>
						分类列表
					</li>
				</ul>
				<div class="nav-search" id="nav-search">
				</div>
			</div>
			<div class="page-content" style="min-height:600px;padding:10px 0px;">
				<input id="moduleId" value="<!--{$moduleId}-->" type="hidden">
				<div class="col-xs-12">
					<div class="row" style="margin:0px;">
						<div class="form-horizontal table-bordered" style="padding:10px;overflow:hidden;">
							<div class="col-xs-12">
								<empty name="parentCateList">
									<div style="height:30px;font-size:14px;line-height:30px;text-align: center;overflow:hidden;">暂无分类</div>
									<else />
									<div class="dd">
										<ol class="dd-list">
											<volist name="parentCateList" id="list">
												<li class="dd-item" id="cate_<!--{$list['id']}-->">
													<div class="dd-handle"><!--{$list['title']}-->
														<div class="pull-right action-buttons">
															<a class="blue editCate" cateId="<!--{$list['id']}-->" href="<!--{:U('Admin/Index/cateEdit', array('moduleId'=> $list['id'], 'cateId'=> $list['id']))}-->">
																<i class="ace-icon fa fa-pencil bigger-130"></i>
															</a>
															<a class="red deleteCate" cateId="<!--{$list['id']}-->" moduleId="<!--{$list['module_id']}-->" href="javascript:void(0);">
																<i class="ace-icon fa fa-trash-o bigger-130"></i>
															</a>
														</div>
													</div>
													<if condition="$data[$list['id']] neq ''">
														<ol class="dd-list">
															<volist name="data[$list['id']]" id="vlist">
																<li class="dd-item" id="cate_<!--{$vlist['id']}-->">
																	<div class="dd-handle">
																		<!--{$vlist['title']}-->
																		<div class="pull-right action-buttons">
																			<a class="blue editCate" cateId="<!--{$vlist['id']}-->" href="<!--{:U('Admin/Index/cateEdit', array('moduleId'=> $vlist['module_id'], 'cateId'=> $vlist['id']))}-->">
																				<i class="ace-icon fa fa-pencil bigger-130"></i>
																			</a>

																			<a class="red deleteCate" cateId="<!--{$vlist['id']}-->" moduleId="<!--{$vlist['module_id']}-->" href="javascript:void(0);">
																				<i class="ace-icon fa fa-trash-o bigger-130"></i>
																			</a>
																		</div>
																	</div>
																	<ol class="dd-list">
																		<catelist code="$vlist['code']" id="sonlist">
																			<li class="dd-item" id="cate_<!--{$sonlist['id']}-->">
																				<div class="dd-handle"><!--{$sonlist['title']}-->
																				<div class="pull-right action-buttons">
																					<a class="blue editCate" cateId="<!--{$sonlist['id']}-->" href="<!--{:U('Admin/Index/cateEdit', array('moduleId'=> $sonlist['module_id'], 'cateId'=> $sonlist['id']))}-->">
																						<i class="ace-icon fa fa-pencil bigger-130"></i>
																					</a>

																					<a class="red deleteCate" cateId="<!--{$sonlist['id']}-->" moduleId="<!--{$sonlist['module_id']}-->" href="javascript:void(0);">
																						<i class="ace-icon fa fa-trash-o bigger-130"></i>
																					</a>
																				</div>
																				</div>
																			</li>
																		</catelist>
																	</ol>
																</li>
															</volist>
														</ol>
													</if>
												</li>
											</volist>
										</ol>
									</div>
								</empty>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<script>
	$(function(){
		var cateList = new CateList();
		cateList.init();
	});

</script>
<include file="./Public/public_footer" />

