<include file="./Public/public_header" />

<div class="main-container container" id="main-container">
	<include file="./Public/public_left" />
	<div class="main-content">
		<div class="main-content-inner">
			<div class="breadcrumbs" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<a href="#">后台首页</a>
					</li>
					<li>
						留言管理
					</li>
				</ul>
				<div class="nav-search" id="nav-search">
				</div>
			</div>
			<div class="page-content" style="min-height:600px;padding:10px 0px;">
				<input type="hidden" name="module_id" id="moduleId" value="<!--{$moduleInfo['moduleId']}-->" />
				<div class="col-xs-12">
					<div class="row" style="margin:0px;">
						<div class="form-horizontal table-bordered" style="padding:10px;min-height:600px;">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>

</script>
<include file="./Public/public_footer" />

