<if condition="$imagesList neq ''">
	<ul>
		<volist name="imagesList" id="list">
			<if condition="$list['thumb_url'] neq ''">
				<li bigId="<!--{$list['id']}-->" bigUrl="<!--{$list['file_url']}-->"><img src="<!--{$list['thumb_url']}-->" title="<!--{$list['title']}-->" /></li>
				<else />
				<li bigId="<!--{$list['id']}-->" bigUrl="<!--{$list['file_url']}-->"><img src="<!--{$list['file_url']}-->" title="<!--{$list['title']}-->" style="width:80px;height:80px;"/></li>
			</if>
		</volist>
	</ul>
	<else />
	<ul style="padding:10px;">
		暂无图片
	</ul>
</if>
<div style="clear:both;width:100%;height:30px;overflow:hidden;">
<!--{$pageBar}-->
</div>
